
<h1>View Invoice/Bill</h1>

<p>From: <%= @document.from %></p>
<p>Date: <%= @document.date %></p>
<p>Unique identifier: <%= @document.identifier %></p>
<p>Reference: <%= @document.reference %></p>
<p>Description: <%= @document.description %></p>
<p>Total amount: <%= @document.total %></p>
<p>Paid: <%= @document.paid %></p>

<ul>
    <li><%= link_to "Edit", edit_document_path(@document) %></li>
    <li><%= link_to "Destroy", document_path(@document), data: {
      turbo_method: :delete,
      turbo_confirm: "Are you sure?"
    } %></li>
</ul>

